/* Step-2 add a text-align that will align items in the center.  */
.main-bottom-section {
  margin-top: 65px;
  /* alignment property */
  text-align: center;
}

/* Step-2 Add a width, height and display property to make these containers look like the design. */
.item {
   /*width*/
    /*height*/
    /*display*/
    background: #DED6D3;
    margin:0 auto 30px;
    width: 400px;
    height: 250px;
    display: inline-block;
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.full-width-item {
    /*width*/
    /*height*/
    /*margin*/
    width: 800px;
    height: 125px;
    margin:0 auto 30px;
    display: block;
    background: #DED6D3;
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.large-item {
    /*width*/
    width: 800px;
    height:1200px;
    margin:0 auto 30px;
    /*height*/
    /*margin*/
    background: #DED6D3;
}
